.container {
 display: flex;
 justify-content: space-between;
 padding: 2rem;
 background-color: #f3f5fc;
 margin: 4rem;
}
button {
 cursor: pointer;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
 .container {
  flex-direction: column;
 }
}

/* Phones */
@media (min-width: 280px) and (max-width: 767px) {
 .container {
  flex-direction: column;
  padding: 1rem;
  margin: 0;
 }
}
